@import url("fonts/stylesheet.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  border-top: 2px solid red;
  font-family: 'Graphik';
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.header {
  height: 600px;
  margin-bottom: 80px;
  padding-top: 20px;
}

.header__about {
  margin-top: 180px;
}

.header__about__more {
  font-size: 1.4rem;
  width: 650px;
}

.header__about--spotlight {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.header__about--title {
  font-size: 1.4rem;
  font-weight: 450;
}

.header__about--desc {
  line-height: 1.4;
  text-align: justify;
}

.header__about--link {
  border-bottom: 1px solid #ba0000;
  text-decoration: none;
}

.header__about--link:hover {
  background: rgba(186, 0, 0, 0.2);
  text-decoration: none;
}

.navbar-brand {
  max-height: 50px;
  margin-right: 120px;
  width: 100px;
}

.navbar-brand--img {
  width: 100%;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item {
  font-size: 1.3rem;
  padding: 0 20px;
}

a.nav-link .active--nav {
  color: red;
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  list-style: none;
  padding: 0;
}

.nav__menu--list {
  margin-left: 30px;
}

.nav__menu--link {
  font-size: 1.3rem;
  text-decoration: none;
}

.works__dual {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 30px;
}

.works__dual--img {
  height: auto;
  width: 100%;
}

.offers--img {
  width: 60px;
}

.offers {
  margin-top: 120px;
}

.offers__more {
  margin-bottom: 60px;
  width: 600px;
}

.offers__more--title {
  font-size: 2rem;
  font-weight: 550;
}

.offers__more--desc {
  font-size: 1.3rem;
  line-height: 1.4;
}

.offers__sub-block img {
  width: 60px;
}

.offers--title {
  font-weight: 550;
}

.offers__service {
  list-style: none;
  padding: 0;
}

.offers__service--single {
  font-size: 1.3rem;
  margin-bottom: 8px;
}

.socials {
  margin-top: 100px;
}

.socials__more {
  width: 600px;
}

.socials__more--title {
  font-size: 2rem;
  font-weight: 550;
}

.socials__more--desc {
  font-size: 1.3rem;
  line-height: 1.5;
}

.cta {
  background: rgba(0, 186, 186, 0.5);
}

.cta--btn {
  color: #fff;
  background: #ba0000;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 35px;
  padding: 15px 40px;
  text-decoration: none;
}

.cta__more--title {
  color: #ba0000;
  font-size: 2rem;
  font-weight: 550;
}

.cta__more--desc {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 2px;
  margin-top: 0;
}

section.cta {
  background: rgba(186, 0, 0, 0.2);
}

.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 15px 0;
}

.footer--copyright {
  font-size: 0.8rem;
}

.footer__socials {
  -ms-grid-column-align: end;
      justify-self: end;
}

.footer--social {
  display: inline-block;
  margin-left: 25px;
  text-decoration: none;
}

.contact__header--title {
  font-size: 1.9rem;
  font-weight: 450;
  width: 500px;
}

.contact__header--title a {
  border-bottom: 1px solid #ba0000;
  color: inherit;
  text-decoration: none;
}

.contact__header--title a:hover {
  background: rgba(0, 186, 186, 0.1);
}

.form {
  margin-bottom: 60px;
}

.contact__form {
  margin-top: 60px;
  width: 650px;
}

.contact--submit {
  background: #ba0000;
  border: 1px solid #ba0000;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 550;
  outline: none;
  padding: 14px 44px;
}

.form__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 35px;
          column-gap: 35px;
  width: 100%;
}

.form__group {
  display: -ms-grid;
  display: grid;
  margin-bottom: 20px;
}

.form--label {
  display: block;
  margin-bottom: 30px;
}

.form--input {
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  padding: 10px;
}

select .form--input {
  background: none;
  outline: none;
}

.form--input:focus {
  border-bottom: 1px solid red;
}
/*# sourceMappingURL=style.css.map */